@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/PublicLayout.cshtml";
}

<h2>Login</h2>
@Html.ValidationSummary()
<form method="post">
    Id: <input type="text" name="Id" value="@(Model == null? "" : Model.Id)" /> <br />

    Password: <input type="password" name="Password" value="@(Model == null? "" : Model.Password)" /> <br />

    <input type="submit" value="Login" />
</form>